.readme {
  height: 100%;
  background: var(--white-color);
  overflow: overlay;
  padding: 0 2rem;
}

code {
  display: inline-block;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
}
